
    .btn-group.btn-group-vertical
        button.btn.btn-success.btn-lg(type='button') clear
        button.btn.btn-warning.btn-lg(type='button') add
        button.btn.btn-danger.btn-lg(type='button') subtract
        button.btn.btn-info.btn-lg(type='button') submit


//$('#flipY').click( flipY  )
    //script.//    $(function(){//      alert('jquery on-load (and hence, js) from skull works');
    //      test = 'V'; testF = function(cb){console.log('flipY cb'};
    //      $('#flipY').click(cb);});
                mixin buts(['flipY','flipX', 1])
//button#flipY flipY
//button#flipY flipX
                button#rotateC rotateC
                button#rotateCC rotateCC
                button#moveLeft moveLeft
                button#moveRight moveRight
                button#moveUp moveUp
                button#moveDown moveDown
                button#bigger bigger
                button#smaller smaller


        button#grayscale grayscale
        button#pixelate pixelate

//cuty/transfom$('#makeCut').hide();//$('#save').show(); $('#cut').show();
$("#save").click(function(){Save()})
$("#edit")...
$("#startCut").click(function(){
    $('#strtCt').hide();$('#mkCt').show();
    T.OFF(); bm.OFF(); I();im.src=mCan.u;vertex();
mCan.q.dblclick(function(){tk()})
    $("#mkCt").clk(function(){
    $('#mkCt').hide();$('#strtCt').show();
    c.i();MKCT(c,i);i.r(function(u){B(im); add(bm)})})
//


    h1 Edit your info!
    form(method='POST', action='/info/po')
        label age
        input(type='text')
        label sex
        input(type='text')
        label location
        input(type='text')
        label email
        input(type='text')
        label website
        input(type='text')
        br
        input

mappy
    .row
        .col-md-2
            #baby
            mixin picSelect
        .col-md-10
            p #{U._id}

+v("uid", U._id)
 $('body').css('background-color','green')

newPlr
- user=user[0]
- un=user.username
- mp=user.mugPath
h1 new Player: #{un} !
img(height=100,width=100,src="#{mp}")


    // h1 welcome to coiny!   #{u.username}
        h1 Coin a new term today!
        h5 (and have proof forever!)
        dl
            each t in U.term
                dt t.term
                dd t.meaning
        .well
            div.badge.badge-success: h1 your terms
            each t in U.term
                div
                    br
                    h5.pull-right #{t.stamp}
    .badge.badge-info: h5 #{t.term}
    h4 &nbsp #{t.meaning}
    hr.warning
h1 Coin a new term today!
h5 (and have proof forever!)
if (fields)
mixin userItemForm("term")
else
p no 'fields'
.well
    div.badge.badge-success: h1 your terms
    each t in U.term
        div
            br
            h5.pull-right #{t.stamp}
    .badge.badge-info: h5 #{t.term}
    h4 &nbsp #{t.meaning}
    hr.warning
    p #{U.term}


